# Security
SECRET_KEY=your_secret_key

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=your_db_name

# Default model weights path
# If you want to use your own YOLO model, change the path
MODEL_WEIGHTS=ml/YOLO11s-OBB(main)/weights/best.pt

# X-rays dir path
XRAYS_DIR=static/xrays/

# Teeth dir path
TEETH_DIR=static/teeth/

# Annotation range (number of X-ray images assigned to a single user)
ANNOTATION_RANGE=5

# Access codes for user roles
ADMINISTRATOR_CODE=your_access_code
TEACHER_CODE=your_access_code
RESIDENT_CODE=your_access_code

# Default superuser phone number created on first startup
ADMIN_PHONE=+7 (9XX) XXX-XX-XX