
{% extends "layout.html" %}
{% block content %}
    <div class="top-bar">
        <a href="{{ url_for('admin_page') }}" class="goback">
            <img src="../static/icons/Arrow left.svg" class="icon" alt="">
            <p data-i18n="goback_button_text"></p>
        </a>
        <div class="lang-wrapper">
            <button class="lang-btn" onclick="setLang('ru')">RU</button>
            <button class="lang-btn" onclick="setLang('en')">EN</button>
        </div>
    </div>
    <div class="inner">
        <div class="header">
            <p class="title" data-i18n="admin_header_title"></p>
            <p class="subtitle" data-i18n="add_xray_header_subtitle"></p>
            <p class="title"
               data-i18n="add_xray_total"
               data-count="{{ tooth_count }}"></p>
        </div>
        <div class="separator"></div>
        <div class="upload-block" id="uploadBlock">
            <svg class="upload-icon" viewBox="0 0 24 24" fill="none">
                <path d="M12 16V4M12 4L8 8M12 4L16 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 20H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            </svg>

            <p data-i18n="add_xray_info"></p>

            <input type="file" id="fileInput" multiple hidden accept="image/*">
        </div>
        <div class="separator"></div>
        <div class="preview-list" id="previewList">
            <!-- Здесь будут отображаться превью загруженных снимков -->
        </div>
        <button class="submit-button" id="uploadBtn", data-i18n="add_xray_button"></button>
    </div>
    <script type="module" src="/static/js/add-xray.js"></script>
{% endblock content %}
