{% extends "layout.html" %}
{% block content %}
    <div class="top-bar">
        <a href="{{ url_for('admin_page') }}" class="goback">
            <img src="../static/icons/Arrow left.svg" class="icon" alt="">
            <p data-i18n="goback_button_text"></p>
        </a>
        <div class="lang-wrapper">
            <button class="lang-btn" onclick="setLang('ru')">RU</button>
            <button class="lang-btn" onclick="setLang('en')">EN</button>
        </div>
    </div>
    <div class="inner">
        <div class="header">
            <p class="title" data-i18n="admin_header_title"></p>
            <p class="subtitle" data-i18n="register_header_subtitle"></p>
            <p class="title"
               data-i18n="progress_users_count"
               data-count="{{ users_count }}"></p>
        </div>
        <div class="separator"></div>
        <div class="tabs">
            <button class="tab active" data-tab="form1" data-i18n="register_tab_form"></button>
            <button class="tab" data-tab="form2" data-i18n="register_tab_table"></button>
        </div>
        <div class="form-block active" id="form1">
            <form class="form" id="registerForm">
                <div class="input-field">
                    <label for="fullname" data-i18n="register_form_fullname"></label>
                    <input type="text" id="fullname" name="fullname" data-i18n-placeholder="register_form_fullname_placeholder">
                </div>
                <div class="input-field">
                    <label for="phonenumber" data-i18n="register_form_phonenumber"></label>
                    <input type="text" id="phonenumber" name="phonenumber" data-i18n-placeholder="register_form_phonenumber_placeholder" maxlength="18">
                </div>
                <div class="input-field">
                    <label for="roleselect" data-i18n="register_form_status"></label>
                    <select id="roleselect" name="roleselect">
                        <option value="" data-i18n="register_form_status_default"></option>
                        {% for role in roles %}
                            <option value="{{ role.name }}"
                                    data-ru="{{ role.name_ru }}"
                                    data-en="{{ role.name }}"></option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="submit-button" disabled data-i18n="register_form_submit"></button>
            </form>
        </div>
        <div class="form-block" id="form2">
            <div class="upload-block" id="uploadBlock">
                <svg class="upload-icon" viewBox="0 0 24 24" fill="none">
                    <path d="M12 16V4M12 4L8 8M12 4L16 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    <path d="M4 20H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>

                <p data-i18n="register_excel_info"></p>

                <input type="file" id="fileInput" hidden accept=".xlsx">
            </div>
            <div class="separator"></div>
            <div class="preview-list" id="previewList">
                <!-- Здесь будут отображаться превью загруженных снимков -->
            </div>
            <button class="submit-button" id="uploadBtn" data-i18n="register_excel_submit"></button>
        </div>
    </div>
    <script type="module" src="/static/js/register.js"></script>
{% endblock content %}