{% extends "layout.html" %}
{% block content %}
    <a href="{{ url_for('admin_page') }}" class="goback">
        <img src="../static/icons/Arrow left.svg" class="icon" alt="">
        <p>Вернуться назад</p>
    </a>
    <div class="inner">
        <div class="header">
            <p class="title">Панель администратора</p>
            <p class="subtitle">Добавление пользователя</p>
        </div>
        <div class="separator"></div>
        <div class="tabs">
            <button class="tab active" data-tab="form1">Через форму</button>
            <button class="tab" data-tab="form2">Через таблицу</button>
        </div>
        <div class="form-block active" id="form1">
            <form class="form" id="registerForm">
                <div class="input-field">
                    <label for="fullname">ФИО</label>
                    <input type="text" id="fullname" name="fullname" placeholder="Введите ФИО пользователя">
                </div>
                <div class="input-field">
                    <label for="phonenumber">Номер телефона</label>
                    <input type="text" id="phonenumber" name="phonenumber" placeholder="+7 (___) ___-__-__" maxlength="18">
                </div>
                <div class="input-field">
                    <label for="roleselect">Статус</label>
                    <select id="roleselect" name="roleselect">
                        <option value="">Выберите свой статус</option>
                        {% for role in roles %}
                            <option value="{{ role.name }}">{{ role.name_ru }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="submit-button" disabled>Добавить</button>
            </form>
        </div>
        <div class="form-block" id="form2">
            <div class="upload-block" id="uploadBlock">
                <svg class="upload-icon" viewBox="0 0 24 24" fill="none">
                    <path d="M12 16V4M12 4L8 8M12 4L16 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    <path d="M4 20H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>

                <p>Выберите табличный файл в Excel формате (.xlsx)</p>

                <input type="file" id="fileInput" hidden accept=".xlsx">
            </div>
            <div class="separator"></div>
            <div class="preview-list" id="previewList">
                <!-- Здесь будут отображаться превью загруженных снимков -->
            </div>
            <button class="submit-button" id="uploadBtn">Добавить</button>
        </div>
    </div>
    <script type="module" src="/static/js/register.js"></script>
{% endblock content %}